* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  margin-left: 2px;
  margin-right: 2px;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  min-width: 10vw;
  margin-left: 15vw;
}

.NavTitle {
  display: flex;
  font-size: 20px;
  vertical-align: middle;
}